.carrinho-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.carrinho-title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.carrinho-page .produtos-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    flex: 1;
}

.produto-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    width: 250px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.produto-item img {
    max-width: 100%;
    border-radius: 8px;
    height: 250px;
    min-height: 250px;
}

.produto-item h2 {
    font-size: 16px;
    margin: 12px 0;
    height: 105px;
}

.produto-item p {
    margin: 8px 0;
    color: #555;
}

.preco {
    color: #e53935;
    font-size: 20px;
    font-weight: bold;
}

.finalizar-button {
    background-color: #ff5722;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.finalizar-button:hover {
    background-color: #e64a19;
}

.quantidade-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.quantidade-container button {
    background-color: #ff5722;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

.quantidade-container button:hover {
    background-color: #e64a19;
}

.remover-button {
    position: absolute;
    top: 8px;
    left: 8px;
    background: transparent;
    border: none;
    color: #e53935;
    font-size: 18px;
    cursor: pointer;
}

.remover-button:hover {
    color: #b71c1c;
}

.carrinho-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.resumo-compra {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    width: 300px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: auto;
    position: sticky;
    top: 215px;
    margin-left: 20px;
}

.resumo-compra h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.resumo-compra p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #333;
}

.finalizar-button {
    background-color: #ff5722;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.finalizar-button:hover {
    background-color: #e64a19;
}

.nenhum-produto-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.nenhum-produto {
    text-align: center;
    color: #555;
}

.resumo-lista {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}

.resumo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.resumo-nome {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
    text-align: left;
    margin-right: 10px;
}

.resumo-quantidade {
    font-size: 14px;
    color: #555;
    width: 80px;
    text-align: center;
    justify-content: center;
}   
.resumo-total {
    margin-left: 10px;
    font-size: 14px;
    color: #555;
    width: 100px;
    text-align: right;
}

