.produtos-list {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}
  
.produto-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  width: 250px;
  text-align: center; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}
  
.produto-item img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.produto-item h2 {
  font-size: 16px;
  margin: 12px 0;
}

.produto-item p {
  margin: 8px 0;
  color: #555;
}

  .preco-antigo {
    text-decoration: line-through;
    color: #999;
  }
  
  .preco-novo {
    color: #e53935;
    font-size: 20px;
    font-weight: bold;
  }
  
  .desconto {
    color: #e53935;
    font-weight: bold;
  }
  
  .botao-comprar {
    background-color: #ff5722;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    max-width: 250px;
    max-height: 30px;
  }
  
  .botao-comprar:hover {
    background-color: #e64a19;
  }
  
  .cupom {
    background-color: #ffeb3b;
    padding: 4px 8px;
    border-radius: 4px;
    position: absolute;
    top: 16px;
    left: 16px;
    font-size: 12px;
    font-weight: bold;
  }

.produto-item.home-style {
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  min-height: 469px;
  max-height: 469px;
  width: 250px;
}

.produto-item.home-style img {
  max-width: 100%;
  height: 250px;
  border-radius: 8px;
}

.produto-item.home-style h3 {
  margin: 0 0 10px 0;
  color: #333;
  font-size: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  height: 110px;
}

.produto-item.home-style .preco {
  color: #ff6600;
  font-weight: bold;
  font-size: 18px;
  margin: 10px 0;
}

.produto-acoes.home-style {
  display: flex;
  gap: 10px;
  margin-top: auto;
}

.produto-item.home-style button {
  background-color: #ff5722;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  flex: 1;
}

.produto-item.home-style button:hover {
  background-color: #e64a19;
}

.home-content {
  display: flex;
  margin-left: 320px;
  gap: 20px;
}

.filtros {
  width: 300px;
  position: fixed;
  top: 84px;
  left: 0;
  height: calc(100vh - 100px);
  overflow-y: auto;
  z-index: 1000;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.filtros h3 {
  margin-bottom: 20px;
  color: #333;
}

.filtro-item {
  margin-bottom: 15px;
}

.filtro-item label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.filtro-item input,
.filtro-item select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.filtros button {
  background-color: #ff5722;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.filtros button:hover {
  background-color: #e64a19;
}

.range-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.range-slider input[type='range'] {
  width: 45%;
}

.range-labels {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
}

.range-label-maximo {
  width: 45%;
  text-align: center;
  color: #555;
}
.range-label-minimo {
  width: 45%;
  text-align: center;
  color: #555;
}

.range-values {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  color: #555;
}

.filtro-item select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  appearance: none;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.filtro-item select:focus {
  border-color: #ff5722;
  outline: none;
}

.filtro-item {
  position: relative;
}


.filtro-item::after {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #555;
}

.filtro-item select:focus::after {
  color: #ff5722;
}

.filtro-item select option {
  background-color: #fff;
  color: #333;
  padding: 8px;
}

.filtro-item select option:hover {
  background-color: #f5f5f5;
}

.preco-inputs {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.preco-input {
  flex: 1;
  text-align: center;
}

.preco-input label {
  display: block;
  margin-bottom: 5px;
  color: #555;
  font-size: 12px;
}

.preco-input input {
  width: 100%;
  padding: 6px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
}

.separador {
  font-size: 18px;
  color: #555;
  margin: 0 5px;
}

.search-dropdown {
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-height: 500px;
  overflow-y: auto;
  z-index: 1000;
}

.search-item {
  padding: 8px 16px;
  cursor: pointer;
  color: black;
}

.search-dropdown li:hover {
  padding: 8px 16px;
  background-color: #f5f5f5;
}

.toast-clickable {
  cursor: pointer;
}

.paginacao {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.paginacao .botao-paginacao {
  background-color: white !important;
  color: black !important;
  border: 1px solid black !important;
  border-radius: 50% !important;
  width: 40px !important;
  height: 40px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  cursor: pointer !important;
  margin: 0 5px !important;
  font-size: 16px !important;
}

.paginacao .botao-paginacao:disabled {
  visibility: hidden !important;
}

.paginacao .botao-paginacao:hover {
  background-color: white !important;
  color: black !important;
}

.paginacao .botao-paginacao:disabled:hover {
  background-color: #f5f5f5 !important;
  color: black !important;
  cursor: not-allowed !important;
}

.paginacao button {
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0 5px;
  font-size: 16px;
}

.paginacao button:disabled {
  background-color: #f5f5f5;
  color: black;
  cursor: not-allowed;
}

.paginacao .pagina-atual {
  font-size: 16px;
  color: #333;
  margin: 0 5px;
}

.botao-paginacao:hover {
  background-color: white;
  color: black;
}

.paginacao button:disabled:hover {
  background-color: #f5f5f5;
  color: black;
  cursor: not-allowed;
}
 