.pedido-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .pedido-container:hover {
    background-color: #f9f9f9;
  }
  
  .pedido-container.expandido {
    background-color: #e0f7fa;
  }
  
  .pedido-info {
    display: flex;
    justify-content: space-between;
  }
  
  .pedido-detalhes {
    margin-top: 10px;
    border-top: 1px solid #eee;
    padding-top: 10px;
  }
  
  .pedido-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}

.pedido-item-info {
    flex-grow: 1;
}

.produto-imagem {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-left: 10px;
}
  
  .pedido-item-divisoria {
    width: 100%;
    border: none;
    border-top: 1px solid #ddd;
    margin: 10px 0;
  }